<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings file="app.secrets">
    <add key="UserPassword" value=""/>
    <add key="UserId" value=""/>
    <add key="ClientId" value=""/>
    <add key="Tenant" value=""/>
  </appSettings>
  <connectionStrings configSource="connectionStrings.secret">
  </connectionStrings>
</configuration>